html {
    font-family: 'Lato', sans-serif;
    width:100%;
    height:100%;
    background-image: url("minimal_clouds.jpg");
    background-position: bottom;  
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar { 
  /* This is the magic bit */
  display: none;
}

.fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    float: left;
    width: 50%;
    /* background-image: url("minimal_clouds.jpg");
    background-position: bottom; */ 
}

.content {
    float: right;
    width: 50%;
}

h1 {
    font-size: 10vmin;
    border: 0;
    padding-left: 20%;
    padding-top: 50px;
    margin: 0;
    color: white;  
    text-shadow: 5px 5px gray;
}

img.myself {
    width: 50%;
    padding-top: 25px;
    padding-left: 25%;
}

h2.bio {
    color: black;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 3vmin;
    
}

h2.titles {
    font-size: 6vmin;
    text-align: right;
    padding-right: 50px;
    padding-top: 25px;
    color: black;
}

p.titles-text{
    font-size: 3vmin;
    text-align: right;
    padding-right: 50px;
   
}















